@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

.center {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
}

#register_form {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: red;
  }
}

#picker{
  visibility: hidden;
}

.deleting {
  opacity: 0.4;
}

@keyframes blinker {
  from { visibility: visible }
  to { visibility: hidden }
}

.reserving{
  animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

#lists-holder {
  li {
    padding: 5px;
    a {
      color: black;
    }
  }
  .selected {
    background: #c4c4c4;
  }
}

.required {
  legend:after {
    content: '*';
    color: red;
  }
}

.has-error {
  input, select, textarea {
    border: 1px solid red;
  }
  .error {
    color: red;
  }
}

.product-card {
  div {
    padding: 15px;
    border-bottom: 1px solid #c4c4c4;
  }
  > div:last-child {
    border: 0;
  }
}