/* structure
/**********************************************************************/
html, body { height: 100%; }
body {
  display: flex; flex-direction: column;
  > * { flex: 0; }
  > main { flex: 1 1 100%; }
  > header {
    box-shadow: $popover-box-shadow;
  }
  > footer { background-color: $light; padding-top: $spacer; padding-bottom: $spacer; color: map-get($colors, 'gray'); text-align: center; }
}

/* typo, general tags (buttons, icons, etc) and styles
/**********************************************************************/
svg { fill: currentColor; }

/* navs, lists, rows
/**********************************************************************/

/* forms
/**********************************************************************/
.form-login {
  min-width: 290px; max-width: 350px;

  // to do: eliminate ul
  ul { @extend .list-unstyled; color: red; }
}

/* alerts, carousels, containers
/**********************************************************************/

/* widgets, boxes, cards (.site-content > *)
/**********************************************************************/

/* page
/**********************************************************************/

/* animations
/**********************************************************************/
@keyframes blinker {
  from { visibility: visible }
  to { visibility: hidden }
}



// to do: check&clean this css
#picker{
  visibility: hidden;
}

.deleting {
  opacity: 0.4;
}

.reserving{
  animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

#lists-holder {
  li {
    padding: 5px;
    a {
      color: black;
    }
  }
  .selected {
    background: #c4c4c4;
  }
}

.required {
  legend:after {
    content: '*';
    color: red;
  }
}

.has-error {
  input, select, textarea {
    border: 1px solid red;
  }
  .error {
    color: red;
  }
}

.product-card {
  div {
    padding: 15px;
    border-bottom: 1px solid #c4c4c4;
  }
  > div:last-child {
    border: 0;
  }
}