/* Bootstrap
/**********************************************************************/
$cyan:                        #17a2b8;

$primary:                     $cyan;

/* Custom
/**********************************************************************/
$social-colors: (
  "facebook":     #3b5998,
  "google-plus":  #dd4b39
);